pyTelegramBotAPI
requests
python-dotenv
Flask
gunicorn
# Якщо ви використовуєте планувальник завдань, розкоментуйте:
# APScheduler
# Якщо ви використовуєте PostgreSQL (замість SQLite), розкоментуйте:
# psycopg2-binary